<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>node.js crash course template</title>
        <style>
            body {
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <h2>pstuff about frantic stats</h2>
        <nav>
            <a href="/">home Page</a>
            <a href="/about">about us</a>
        </nav>
    </body>
</html>
