<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>node.js crash coarse trmplate</title>
        <style>
            body {
                background-color: rgb(119, 207, 231);
            }
        </style>
        </head>
    <body>
        <h1>home</h1>
        <h2>patrh to becoming a proffesional</h2>
        <nav>
            <a href="/">home Page</a>
            <a href="/about">about us</a>
        </nav></body>
</html>
